{% extends "index.html" %}

{% block title %}
Контакты
{% endblock %}

{% block header %}
<h2 class="masthead-heading mb-0">Контакты</h2>
{% endblock %}

{% block content %}
    <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 order-lg-1">
          <div class="p-5">
            <h1>ПТИЦАМИ ДОЛЖНЫ ЗАНИМАТЬСЯ ПРОФЕССИОНАЛЫ?</h1>
              <p class="h3">
Вы должны понимать, что волонтеры не обязаны принимать от населения всех и любых животных и птиц. Функционирующих государственных «приютов» в России не существует, любая эффективная и гуманная помощь животным осуществляется обычными людьми в условиях своей квартиры, семьи, на личные денежные средства. Есть птичьи реабилитационные центры, основанные также частными лицами, но имеющие право работать с редкими видами и лечат они только со специалистами орнитологами, услуги которых так же платные, как и все анализы, лекарства и корм для подопечных. Эти центры существуют так же за счет их организаторов  на пожертвования, а не на средства государства. Принимают они определенные виды птиц, ниже описано кто на ком специализируется, однако массовыми видами, конкретно ГОЛУБИ, СЕРЫЕ ВОРОНЫ, ГРАЧИ, СТРИЖИ, ЧАЙКИ - не принимаются никем из РЦ. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

     <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 order-lg-1">
          <div class="p-5">
              <p class="h3">
Это происходит из-за переполнения таких центров. Если перечисленные птицы остаются нелетными, пристроить их для РЦ очень тяжело. Они занимают много пространства и отнимают средства на питание и уход, причем это место всегда необходимо новым птицам в тяжелом состоянии, зачастую редких видов или летным птицам, которых можно вернуть в природу после реабилитации. Серая ворона, к примеру, в неволе живет около 10-15 лет, занимает в 3 раза больше места, чем синица, дрозд или иволга, значит за то время, пока она сидит там, могли бы быть спасены от 100 до 150 других видов птиц. Кроме того условий для постоянного содержания птиц в этих центрах нет, если она остается там ее качество жизни будет низким. ​</p>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 order-lg-1">
          <div class="p-5">
              <p class="h3">
И гораздо больше в стране волонтеров, занимающихся как раз массовыми видами птиц по парочке человек на крупный город. Процент нелетности среди городских массовых высокий, через какое-то время дома у благодетеля оказывается больше инвалидов, чем квадратных метров, часто кроме птиц у них также живут спасенные кошки и собаки. Нет, такой человек не откажет вам в том, чтобы принять к себе 5ого голубя или 3ю ворону, нет, такие люди не выкинут птицу на улицу и постараются вылечить ее. И жаловаться вам волонтер не будет, сохраняя собственное достоинство. Но через какое-то время такой человек уже откажется принимать новых подопечных, потому, что это несет опасность для уже живущих там зверей и средств всегда не хватает. </p>

              <p class="h3">Пожалуйста, постарайтесь гуманно и с ответственностью относиться не только к животным, но и к тем, кто посвятил их спасению свою жизнь. В течении лета очень много людей подбирают птиц, волонтеры не справляются с этим потоком, не хватает денег, сил, места, но в первую очередь рук! Если вы оставите птицу, которую сами нашли, у себя, хотяб на время лечения, это уже будет большой помощь им!
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>
    <section>

    <div class="container">

      <div class="row align-items-center">
          <div class="p-5">
    <h1 class="col-lg-12">ОБРАТИТЕ ВНИМАНИЕ НА <a href="{% url 'main:index' %}">ЧЕРНЫЙ СПИСОК!</a> </h1>
    </div></div>
    </div>
    </section>
{% endblock %}