<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}One Page Wonder - Start Bootstrap Template {% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <div class="navbar-brand h1">Дикая птица</div>
      <a class="navbar-text" href="{% url "main:index" %}">Главная</a>
      <a class="navbar-text" href="{% url "main:strizhi" %}">Стрижи</a>
      <a class="navbar-text" href="#">Определитель птиц</a>
      <a class="navbar-text" href="{% url "main:contancts" %}">Контакты</a>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
          {% block header %}
        <h2 class="masthead-heading mb-0">Дикая Птица</h2>
          {% endblock %}
      </div>
    </div>
  </header>

{% block content %}

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 ">
          <div class="p-5">
              <p>Это сайт для людей которые случйно нашли и подобрали дикую птицу в городе или в природе и решили попробовать помочь ей. Здесь можно узнать вид птицы чем ее кормить как и где держать ее пока она не выздоровеет а так же как осмотреть и лечить ее самостоятельно.</p>

              <p>Также здесь есть список контактов ветеринаров орнитологов волонтеров и организаций которые могут оказать поддержку в виде консультации либо принять определенные виды птиц себе. Обязательно обратите внимание на ЧЕРНЫЙ СПИСОК чтобы не совершить ошибок которые могут стоить жизни птице!</p>

              <p>Просто выбирайте вопросы или ответы и проходите по ссылкам дальше внимательно читайте статьи на каждой странице и ознакамливайтесь с фото видео и аудиоматериалами.</p>

              <p><i>Сайт в стадии разработки!!! Мы будем добавлять новую информацию и оптимизировать его для удобства поиска нужных инструкций и добавим максимум видеоиллюстраций. Чтобы в будущем каждому было максимально понятно и просто им пользоваться оставляйте ЗДЕСЬ свои пожелания и предложения!</i></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img id="picture" class="img-fluid rounded-circle" src="static/img/01.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
              <p onmouseenter="change_pic('static/pigeons_corvids/Torgachkin=77M2=7-DSC06926.jpg')"><a href="{% url 'main:section_1' %}">
                  1. Я обнаружил птицу на улице, что делать?
              </a></p>
              <p onmouseenter="change_pic('static/pigeons_corvids/1553150720165871927.png')"><a href="{% url 'main:section_2' %}">
                  2. Это оказался птенец, как выкормить?
              </a></p>
              <p onmouseenter="change_pic('static/pigeons_corvids/4a99584b9ef9.jpg')"><a href="{% url 'main:section_3' %}">
                  3. Птичка у меня дома, как с ней обращаться?
              </a></p>
              <p><a href="{% url 'main:section_4' %}">
                  4. Как обработать раны?
              </a></p>
              <p><a href="{% url 'main:section_5' %}">
                  5. Как сделать ей домик, пока она лечится?
              </a></p>
              <p><a href="{% url 'main:section_6' %}">
                  6. Чем ее можно кормить?
              </a></p>
              <p><a href="{% url 'main:section_7' %}">
                  7. Как ее лечить?
              </a></p>
              <p><a href="{% url 'main:section_8' %}">
                  8. Какому доктору ее показать?
              </a></p>
              <p><a href="{% url 'main:section_9' %}">
                  9. Куда ее отвезти? Кому отдать?
              </a></p>
              <p><a href="{% url 'main:section_10' %}">
                  10. Как содержать ее дома?
              </a></p>
              <p onmouseenter="change_pic('static/pigeons_corvids/content_01.jpg')"><a href="{% url 'main:section_11' %}">
                  11. Как найти ей хорошие руки?
              </a></p>
              <p><a href="{% url 'main:section_12' %}">
                  12. ЧЕРНЫЙ СПИСОК ОРГАНИЗАЦИЙ, ВЕТЕРИНАРОВ И ВОЛОНТЕРОВ ПО ПТИЦАМ
              </a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

  </section>

    <script>
    change_pic = (pic_location) => {
        let im = document.getElementById("picture");
        im.setAttribute("src", pic_location)
    }
    </script>
  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
        <p style="color:white"><i>Сайт в стадии разработки!!! Мы будем добавлять новую информацию и оптимизировать его для удобства поиска нужных инструкций и добавим максимум видеоиллюстраций. Чтобы в будущем каждому было максимально понятно и просто им пользоваться оставляйте <a href="mailto:xeniakarkarkar@gmail.com">здесь</a> свои пожелания и предложения!</i></p>

      <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
