{% extends 'index.html' %}
{% block title %}
    Черный список
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <p class="h2">Птенцы</p><br>
            <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1">
                        <img class="img-fluid" src="static/pigeons_corvids/5-74-588x480.jpg" alt="">
                        <br>
                        <span class="h3">Птенец 1</span>
            </div>
            <div class="col-lg-4 order-lg-2">
                    <img class="img-fluid" src="static/pigeons_corvids/1425901069_1144809375.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 2</span>
            </div>
            <div class="col-lg-4 order-lg-2">
                    <img class="img-fluid" src="static/pigeons_corvids/baby_1.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 3</span>
            </div>
            </div>

            <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/pigeons_corvids/baby2.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 4</span>
            </div>
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/pigeons_corvids/1669942635__viber_2019-06-04_19-58-00.jpg.61d8772d70d32cdcbe3d3144d6a4572f.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 5</span>
            </div>
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/pigeons_corvids/1553150720165871927.png" alt="">
                    <br>
                    <span class="h3">Птенец 6</span>
            </div>
            </div>
            <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/pigeons_corvids/ad640534-fc4f-4de1-85b6-135b7846d3af.jpg.4da8083b7850821371d76467285518b2.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 7</span>
            </div>
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/pigeons_corvids/13060151.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 8</span>
            </div>
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/image.jpeg.ec40c9b05312f111171cfd93e9bd8de0.jpeg" alt="">
                    <br>
                    <span class="h3">Птенец 9</span>
            </div>
            </div>
            <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/index.jfif" alt="">
                    <br>
                    <span class="h3">Птенец 7</span>
            </div>
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/singing_swimming/s600.webp" alt="">
                    <br>
                    <span class="h3">Птенец 8</span>
            </div>
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/singing_swimming/iOuApugEMwI.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 9</span>
            </div>
            </div>
            <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/singing_swimming/P6090310.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 7</span>
            </div>
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/carnivores/232859.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 8</span>
            </div>
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/carnivores/5845332.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 9</span>
            </div>
            </div>
            <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/carnivores/80893014_70d27faa433a.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 7</span>
            </div>
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/carnivores/1562987662183440891.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 8</span>
            </div>
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/carnivores/image.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 9</span>
            </div>
            </div>
            <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/carnivores/inx960x640.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 7</span>
            </div>
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/carnivores/Mdd00Q0wTD9jiyUS6hVlxf5x445zKkim.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 8</span>
            </div>
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/carnivores/oka_oka_pomozhem sovam prod10.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 9</span>
            </div>
            </div>
            <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/carnivores/ptenec_2.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 7</span>
            </div>
            <div class="col-lg-4 order-lg-1">
                    <img class="img-fluid" src="static/carnivores/yastreb-perepelyatnik-foto-i-opisanie_3.jpg" alt="">
                    <br>
                    <span class="h3">Птенец 8</span>
            </div>
            </div>
        </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="static/img/02.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <p class="h2">Голуби</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et
                            commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris.
                            Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula. Donec
                            lobortis risus a elit. Etiam tempor. Ut ullamcorper, ligula eu tempor congue, eros est
                            euismod turpis, id tincidunt sapien risus a quam. Maecenas fermentum consequat mi. Donec
                            fermentum. Pellentesque malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget,
                            consequat quis, neque. Aliquam faucibus, elit ut dictum aliquet, felis nisl adipiscing
                            sapien, sed malesuada diam lacus eget erat. Cras mollis scelerisque nunc. Nullam arcu.
                            Aliquam consequat. Curabitur augue lorem, dapibus quis, laoreet et, pretium ac, nisi. Aenean
                            magna nisl, mollis quis, molestie eu, feugiat in, orci. In hac habitasse platea dictumst.
                            ​</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}