{% extends 'index.html'%}
{% block title %}
Летность и импринты
{% endblock %}

{% block content %}
<section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img id="picture" class="img-fluid rounded-circle" src="static/img/02.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
          <p class="h2">ВСЕ В ВАШИХ РУКАХ</p>
              <p>Eдинственное, что спасет эту птицу от скорой смерти - человек. Вашим вкладом может стать то, что вы распространите информацию в интернете, конкретно в местных группах вк и других интернет сообществах, связанных с помощью животными, во всех сразу! Но просто сообщить, что оно вот там есть, мало, этим вы не поможете. Посвятите немного своего времени созданию обьявления/поста с хорошими фотографиями, хотябы чтобы птицу было четко видно. Дайте ссылку на этот сайт, здесь все необходимое подробно описано, так же прямо в объявлении опишите, что и как нужно делать человеку, если он решится взять ответственность на себя (шаблоны предоставлены ниже) </p>
              <p>До того, как на объявление кто-то отреагирует обезопасите птицу, просто посадите в коробку и хорошо ее закройте. не можете занести домой - поставьте в подъезде, гараже, сарае, попросите принять на сутки соседей или родственников, хотябы найдите безопасное место на улице. Не должно быть доступа для хищников и детей, не должно быть минусовой или слишком высокой температуры, оставьте воду и дырки для воздуха. Всеравно почитайте материалы сайта!</p>
              <p>И, конечно, самым лучшим вариантом для всех будет, если именно вы заберете птицу себе для ухода и лечения. Это не требует многого, не важно, есть у вас опыт или нет, это не сложно и отнимет у вас совсем мало времени. Ознакомьтесь с материалами здесь прежде, чем принимать окончательное решение. </p>

              <p><a href="{% url 'main:section_3' %}">Птичка у меня дома, как с ней обращаться?</a></p>
              <p><a href="{% url 'main:contancts2' %}">Контакты</a></p>
              <p><a href="{% url 'main:black_list' %}">Черный список</a></p>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}