{% extends 'index.html'%}
{% block title %}
Секция 2
{% endblock %}

{% block content %}
<section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="static/img/02.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
          <p class="h2">Кормить надо тем, что необходимо, а не как бабуля говорила. Про белый хлеб, сов и стрижей. Если не ест сутки кормите насильно.</p>
              <p>Прежде чем давать хоть что-то есть любой птице, нужно узнать чем питается этот вид в природе и какая еда может сильно навредить этой птице. Не руководствуйтесь народными приданиями и традиционными взглядами на рацион птиц. Просто следуйте инструкциям и все будет просто. </p>
              <p>От хлеба, особенно белого, развиваются грибковые заболевания (именно поэтому абсолютно всех городских птиц обязательно надо лечить от грибковых инфекций) в нем много глютена (клейковины) и крахмала, которые не усваиваются и мешают переваривать другую еду, у большинства птиц не переваривается молочный белок и молочные продукты сильно нарушат пищеварение, соленое, сладкое, любую человеческую еду также нельзя давать никаким птицам! Опарыш, земляной червь, мотыль это табу - эти черви разносят паразитов и бактериальные инфекции, личинки мух могут прогрызть стенки желудка птички изнутри. </p>
              <p>стрижа, особенно истощенного птенца, может сильно отравить все, что не является насекомыми и их лучше не кормить ничем сутки, чем лечить отравление. То же касается и птенцов мелких видов птиц, причем даже здоровых. </p>
            <p><a href="{% url 'main:section_6_1' %}">
                  6.1. врановые
              </a></p>
            <p><a href="{% url 'main:section_6_2' %}">
                  6.2. голуби
              </a></p>
            <p><a href="{% url 'main:section_6_3' %}">
                  6.3. Хищники и совы
              </a></p>
            <p><a href="{% url 'main:section_6_4' %}">
                  6.4. водоплавь
              </a></p>
            <p><a href="{% url 'main:section_6_5' %}">
                  6.5. Насекомоядные
              </a></p>
            <p><a href="{% url 'main:section_6_6' %}">
                  6.6. Я не знаю, кто у меня!
              </a></p>
            <p><a href="{% url 'main:section_6_7' %}">
                  6.7. Ой, это птенец!
              </a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}