{% extends 'index.html'%}
{% block title %}
Летность и импринты
{% endblock %}

{% block content %}
<section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img id="picture" class="img-fluid rounded-circle" src="static/img/02.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
          <p class="h2">ЛЕТНОСТЬ</p>
              <p> Нелетная птица — это когда она не жилец на воле. Не обязательно птица может выжить, если может летать!</p>

<p> Так ни один птенец, выращенный человеком, даже если его ВЫКОРМИЛИ ПРАВИЛЬНО, без процесса реабилитации не выживет в природе, неважно ручной он или нет. РЕАБИЛИТАЦИОННЫЕ ЦЕНТРЫ занимаются какраз отучением от рук, одичанием, разлеткой таких птенцов. Но только с помощью профессионалов можно вернуть выкормыша в дикую природу!</p>

              <p> любые птицы в состоянии шока, клинике каких либо заболеваний, с переломами, ранами, с ушибами внутренних органов или черепно-мозговыми травмами попавшие к людям являются условно нелетными до полного выздоровления. Так же если птица остается инвалидом после окончания лечения (дефекты зрения, не работает хотябы одна лапа, какая либо часть тела ампутирована, если птица выросла у человека, последствия чмт и т.п. )она так же должна остаться на ;постоялое место жительства; у человека.</p>

              <p>Есть так же особенности-нелетности разных отдельных видов. Соколовые-ястребиные и совы не выживают при отсутствии хотябы одного когтя, это не позволяет им нормально охотититься. У многих перелетных птиц, например СТРИЖЕЙ малейшие дефекты или загрязнения пера не позволяют спать в воздухе и они гибнут на пути в жаркие страны. Поэтому, чтобы ваши усилия не пропали даром, всегда прежде, чем выпустить птицу, консультируйтесь со специалистами РЦ.</p>

              <p>К выхаживанию любых птиц нужно подходить с вниманием и ответственностью, если закрыть глаза на нужды животного и делать по-своему, кормить не тем, не лечить, держать в неподходящих условиях, шансы выжить снижаются а шансы вернуть леность и чтобы птица ВЫЖИЛА на воле сводятся к нулю. Всегда помните, у каждого есть право на ошибку, однако халатность фатальна. Это дикое животное, находящееся вне экосистемы, но если оказать птице помощь своевременно и правильно, очень часто его можно вернуть в естественную среду обитания!</p>

          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}