{% extends 'index.html'%}
{% block title %}
Секция 2
{% endblock %}

{% block content %}
<section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="static/img/02.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
          <p class="h2">Изоляция и темнота. Перепады температур. Карантин от птиц. Комфорт и безопасность</p>
              <p>Домик для птицы всегда компактный - это небольшая кортонная коробка с дырками для воздуха (или переноска-корзинка) которая занимает места не больше, чем пуфик или табуретка. Выпускать прыгать в комнату никого никогда не надо, это опасно, подвижность птицы всегда необходимо ограничивать, чтобы птица не травмировалась и не стрессовала. </p>
              <p>Туда нужно накидать много рваной туалетной бумаги и менять ее по мере загрязнения. Внутри должно быть полностью темно все время, так птица будет восстанавливаться в покое. Но убедитесь, что еду видно и что вода зафиксирована, ее прольют. </p>
              <p>Забудте про клетку, для многих видов любые клетки травмоопасны, птица может повредить глаза и восковицу (нос) о прутья, усугубить травмы и сильно повредить оперение, застрять пальцами в прутьях и лишиться их. Кроме того так больше стресса, потому что вы другдруга видите.</p>
              <p>Если на улице -10-20 ни в коем случае не ставте ее сразу к батарее! Организм всех зимующих животных постепенно перестраивается по мере смены сезонов к жизни в минусовх или высоких температурах. Если во время выхаживания птица будет в доме, просто выберите место попрохладней на первое время (можно закрытую коробку поставить у открытого окна или форточки, но чтобы небыли сквозняка внутри домика) Самый лучший температурный диапазон зимой для любых птиц: +5 / +15 градусов, оставлять без движения травмированное и больное животное тоже нельзя, может замерзнуть. </p>

            <p><a href="{% url 'main:section_5_1' %}">
                  5.1. Она может меня, моего ребенка или моих животных чем-то заразить?
              </a></p>
            <p><a href="{% url 'main:section_5_2' %}">
                  5.2. Как именно птицу безопаснее и правильнее всего держать?
              </a></p>
            <p><a href="{% url 'main:section_5_2' %}">
                  5.3. Куда поставить ее зимой?
              </a></p>
            <p><a href="{% url 'main:section_5_3' %}">
                  5.4. При пневмонии
              </a></p>
            <p><a href="{% url 'main:section_5_4' %}">
                  5.5. При вертячке и чмт
              </a></p>
            <p><a href="{% url 'main:section_5_5' %}">
                  5.6. Как потом ее содержать уже здоровой?
              </a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}