{% extends 'index.html'%}
{% block title %}
Секция 2
{% endblock %}

{% block content %}
<section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="static/img/02.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
          <p class="h2">Это про здоровых нелетных птиц. В первую очередь сами узнайте, что необходимо птице. У новых хозяев в должны быть мозги и опыт, а не частный дом и хотелки.</p>
            <p>К поиску «добрых ручек» необходимо подходить с умом. Всегда сами узнавайте, какой дожен быть вольер, чем нельзя и чем необходимо кормить птицу, узнайте все нюансы содержания конкретного вида и особую технику безопасности для инвалида. Никогда и низачто не отдавайте птицу несовершеннолетним, даже если родители не против. Всегда лучше найти человека с опытом, но тех, кто говорит, что вот мы выкормили и выпустили и хотим себе такого, чтоб во дворе жил, не тужил, с собачкой дружил - шлите в лес этих балбесов и ищите ответственных, разумных и гуманных людей. </p>

              <p><a href="{% url 'main:section_11_1' %}">
                  11.1. Свободные полеты
              </a></p>
            <p><a href="{% url 'main:section_11_2' %}">
                  11.2. Вольер в квартире
              </a></p>
            <p><a href="{% url 'main:section_11_3' %}">
                  11.3. В деревню к бабушке
              </a></p>
            <p><a href="{% url 'main:section_11_4' %}">
                  11.4. Отдать тем, у кого уже много птиц
              </a></p>
            <p><a href="{% url 'main:section_11_5' %}">
                  11.5. Приюты, зоопарки, питомники
              </a></p>
            <p><a href="{% url 'main:section_11_6' %}">
                  11.6. Куда и кому ни в коем случае нельзя отдавать птиц!
              </a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}