{% extends 'index.html' %}

{% block title %}
Стрижи
{% endblock %}

{% block header %}
<h2 class="masthead-heading mb-0">ЧТО ДЕЛАТЬ ЕСЛИ ВЫ НАШЛИ СТРИЖА</h2>

<h3 class="masthead-subheading mb-0">наиболее полная информация содержится на сайте <br>
    <a href="https://www.spastistrizha.ru/">Спасти Стрижа</a></h3>
{% endblock %}

{% block content %}
    <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="static/5kR0wGDUuy4.jpg" alt="">
            <img class="img-fluid rounded-circle" src="static/image.jpeg.ec40c9b05312f111171cfd93e9bd8de0.jpeg" alt="">
            <img class="img-fluid rounded-circle" src="static/IMG_1568.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-8 order-lg-1">
          <div class="p-5">
            <h1>НЕ БЕРИТЕ СТРИЖИКА ГОЛЫМИ РУКАМИ</h1>
              <p class="h3">только в перчатках или через салфеточку, у них легко стирается с перьев жир и он не сможет летать!
 Стрижики очень сильные птички!
Здоровый птенец после вылета из гнезда полностью самостоятелен и готов к жизни, значит можно выпустить его после вскармливания вручную, в отличии от других птиц. Но если в его рационе окажется ЧТО УГОДНО кроме насекомых, из-за отравления и нарушения обмена веществ он может стать нелетным.
Вы можете представить себе ситуацию, при которой, например, корову, распылило бы в воздухе
на мелкие кусочки, попутно сварив, чтобы стрижи-мамы поймали это налету
и принесли эти кусочки своим птенчикам?
Не смешно. Они гибнут от мешанок и хлеба.
Сотни добрых и сострадательных людей ежегодно совершают ошибку, которая стоит жизни стрижу!
Стриж анатомически может только летать и ползать по норке. Они ловят на лету насекомых и питаются только ими, тем же кормят птенцов.
​</p>
              <p class="h3"><b>Гораздо опаснее дать что-то не то и лечить отравление, чем не кормить двое суток!</b></p>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h1>Чем кормить?</h1>
              <p class="h3">ПОДХОДЯТ: мраморный и
туркменский таракан, банановый
и  сверчок, муравьиные яица,
мадагаскарский таракан без
панциря.
и не более 3-4 штучек в день  зофобаса
без головы.

Летом стрижей полно, к июню
тараканы и сверчки кончаются
у всех. Муравьиные яица все лето
доступны и вполне можно выкормить
птенца только ими. Они дешевле!
Есть на сенном, они должны пахнуть
лесом, не сухие, не запрелые, не темные,
а белые и с жидкостью внутри, их нужно
морозить, как и тараканов.

Домовые тараканы и сверчки ядовиты!!!
​</p>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h1>Чем нельзя?</h1>
              <p class="h3">Любое мясо, молочные продукты,
зерна и семена, хлеб, гаммарус,
кошачий корм, прусаки,
а так же гвозди и стекло -
НЕ ПЕРЕВАРИВАЮТСЯ.
У стрижа не может быть ферментов
для переработки этого. Всего за одну
неделю у птенца может выпасть перо,
западут глаза, разовьется рахит, он
будет терять вес и оставаться голодным.
Через три недели кожа покроется
рыжими корками, он ослепнет и даже
покровное перо полетит. Пищеварение
у таких уже не запускается...

Стрижи перелетные птицы, спят в
воздухе на пути в африку. Если перо
не идеально, не полностью или не
правильно раскрылось, отсутствует
хотябы одно в крыле или хвосте, он
не долетит и погибнет.
​</p>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 order-lg-1">
          <div class="p-5">
            <h1>Как его содержать?</h1>
              <p class="h3">Никаких клеток, может сломать
крылья! Идеально подходит
корзинка-переноска для кошек,
можно в картонной коробке с
дырочками, плотно закрывайте
крышку, сделайте подстилку из
бумажных полотенец.

Никаких прогулок и полетов,
смотрения в окошко, общения с
детьми и друзьями, тем более
домашними животными -
это смертельно опасно!

Если трепыхается, куда-то лезет,
шуршит, потерпите. Помните, что
безопасность птицы важнее всего
Обеспечте птице покой,
тишину и затемнение. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}